=form_for :criteria, :url => {:action => :filtered}, 
  :html => {:id => :criteria}, :method => :get do |f|
  =f.label :weather_id
  =f.select :weather_id, 
    options_from_collection_for_select(@all_weathers, 'id', 'name', @criteria.weather_id)
  =f.submit :filter
%table#list_of_suggestions
  %thead
    %tr
      %th Activity
      %th Suitability
  %tbody
    -@suggestions.each do | suggestion |
      %tr
        %td= suggestion.name
        %td= suggestion.weather.name 
=form_for :activity, url: {action: "create"},html: {id: "new_activity_form"}  do |f|
  =f.label :name
  =f.text_field :name
  =f.label :weather_id
  =f.select :weather_id, 
    options_from_collection_for_select(@all_weathers, 'id', 'name', @criteria.weather_id)
  =f.submit :Save

